<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <div>
        <h2>Forget Password</h2>
        <form method="post" action="/ChangePass">
            <label for="email">Your Email:</label><br>
            <input type="text" name="email" value={{email}}><br/>
            <label for="pass">Enter new Password:</label><br>
            <input type="password" id="pass" name="pass"><br>
            <label for="repass">ReEnter new Passowrd:</label><br>
            <input type="password" id="repass" name="repass" ><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</head>

<body>

</body>

</html>